/* Use the comments below to complete activities 1 through 6. */

/* 1. Use the space below to change the background color of the page using the body tag */





/* 2a. Change the size of your image to 200px height and width*/
/* 2b. Give image1 a border */
#image1 {
    width: 50px;
    height: 50px;
}

/* 3. Size image2 to make it twice as large as image1 */
#image2 {
	width: 50%;
	height: 50%;
}

/* 4. Change the buttons with class buttonStyle to be blue with white text */
.buttonStyle {
	border-radius: 4px;
	border: thin solid #F0E020;
	padding: 5px;
	background-color: #F8F094;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	color: #663300;
	width: 75px;
}

/* 5. Use the space below to make all h2 tags your favorite color. */






#mainContent {
	font-family: Arial, Helvetica, sans-serif;
	font-size: xx-large;
	font-weight: bold;
	background-color: #E3F0FB;
	border-radius: 4px;
	padding: 10px;
	text-align: center;
}